<div class="h-100 w-100  bg-white position-relative rounded-right-corner">
    <input class="h-100 w-100 position-absolute" type="date" name="" id="" [value]="Date"
        (change)="onChange($event)" style="opacity: 0;">
        <i class="fas fa-calendar-alt fa-3x dateicon position-absolute mt-2"></i>
        <h6 class="position-absolute">ADD RETURN</h6>
    <small class="d-inline-block text-center  w-100">{{monthend}}</small>
    <span class="d-inline-block text-center w-100">{{dateend}}</span>
    <small class="d-inline-block text-center w-100">{{yearend}}</small>
</div>
